# Dependencies
/node_modules
/backend/node_modules
/backend/user-service/node_modules
/backend/map-service/node_modules
/frontend/node_modules

# Production
/build
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Secret files
serviceAccountKey.json
backend/user-service/serviceAccountKey.json
backend/map-service/serviceAccountKey.json

# IDEs and editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?